.profile__profession {
  margin: 0;
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:634px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}

