.popup__name {
  margin: 0 auto;
  min-width: 358px;
  min-height: 27px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__name:focus {
  outline: none;
}

@media screen and (max-width:634px) {
  .popup__name {
    min-width: 238px;
  }
}
